In [14]:
import pandas as pd
df = pd.read_csv("xx.csv")
df['Suppressed'] = df['Magnitude']
df['Suppressed'][10:11] = ''
df.to_csv('xx.csv')

C:\Users\rohan\AppData\Local\Temp\ipykernel_6028\1590167907.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Suppressed'][10:11] = ''

In [54]:
df['Suppressed'] = ''
df.to_csv('xx.csv')
df.dropna(subset = ['Suppressed'], axis = 1, inplace = True)
df

KeyError: ['Suppressed']

In [96]:
import pandas as pd
import numpy as nx
df = pd.read_csv("xx.csv")
df

,Unnamed: 0,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject
0,0,BDCQ.SF1AA2CA,2016.06,1116.386,1.0,F,Dollars,6,Business Data Collection - BDC
1,1,BDCQ.SF1AA2CA,2016.09,1070.874,1.0,F,Dollars,6,Business Data Collection - BDC
2,2,BDCQ.SF1AA2CA,2016.12,1054.408,1.0,F,Dollars,6,Business Data Collection - BDC
3,3,BDCQ.SF1AA2CA,2017.03,1010.665,1.0,F,Dollars,6,Business Data Collection - BDC
4,4,BDCQ.SF1AA2CA,2017.06,1233.700,1.0,F,Dollars,6,Business Data Collection - BDC
5,5,BDCQ.SF1AA2CA,2017.09,1282.436,1.0,F,Dollars,6,Business Data Collection - BDC
6,6,BDCQ.SF1AA2CA,2017.12,1290.820,1.0,F,Dollars,6,Business Data Collection - BDC
7,7,BDCQ.SF1AA2CA,2018.03,1412.007,1.0,F,Dollars,6,Business Data Collection - BDC
8,8,BDCQ.SF1AA2CA,2018.06,1488.055,NaN,F,Dollars,6,Business Data Collection - BDC
9,9,BDCQ.SF1AA2CA,2018.09,1497.678,1.0,F,Dollars,6,Business Data Collection - BDC
10,10,BDCQ.SF1AA2CA,2018.12,1570.507,1.0,F,Dollars,6,Business Data Collection - BDC
11,11,BDCQ.SF1AA2CA,2019.03,1393.749,1.0,F,Dollars,6,Business Data Collection - BDC
12,12,BDCQ.SF1AA2CA,2019.06,1517.143,1.0,F,Dollars,6,Business Data Collection - BDC
13,13,BDCQ.SF1AA2CA,2019.09,1381.514,1.0,F,Dollars,6,Business Data Collection - BDC
14,14,BDCQ.SF1AA2CA,2019.12,1370.985,1.0,F,Dollars,6,Business Data Collection - BDC
15,15,BDCQ.SF1AA2CA,2020.03,1073.017,1.0,F,Dollars,6,Business Data Collection - BDC
16,16,BDCQ.SF1AA2CA,2020.06,1131.445,1.0,F,Dollars,6,Business Data Collection - BDC
17,17,BDCQ.SF1AA2CA,2020.09,1440.101,1.0,F,Dollars,6,Business Data Collection - BDC
18,18,BDCQ.SF1AA2CA,2020.12,1489.979,1.0,F,Dollars,6,Business Data Collection - BDC
19,19,BDCQ.SF1AA2CA,2021.03,1390.782,1.0,F,Dollars,6,Business Data Collection - BDC
20,20,BDCQ.SF1AA2CA,2021.06,1826.730,1.0,F,Dollars,6,Business Data Collection - BDC
21,21,BDCQ.SF1AA2CA,2021.09,1710.073,NaN,F,Dollars,6,Business Data Collection - BDC
22,22,BDCQ.SF1AA2CA,2021.12,1559.479,NaN,F,Dollars,6,Business Data Collection - BDC

In [130]:
# df['Suppressed'].astype(int)
a = df['Magnitude'].mean()
df['Suppressed'].replace(np.nan,a, inplace = True)

6.0

In [137]:
# df['Data_value'] = df['Data_value']/df['Suppressed']

a = int(235/19)
print(a)

12

In [146]:
df['Suppressed'] = df['Suppressed'].astype('int')
df.dtypes

Unnamed: 0            int64
Series_reference     object
Period              float64
Data_value          float64
Suppressed            int32
STATUS               object
UNITS                object
Magnitude             int64
Subject              object
dtype: object

In [153]:
df['Suppressed'].replace(6,np.nan, inplace = True)
df

,Unnamed: 0,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject
0,0,BDCQ.SF1AA2CA,2016.06,31.010722,NaN,F,Dollars,6,Business Data Collection - BDC
1,1,BDCQ.SF1AA2CA,2016.09,29.746500,NaN,F,Dollars,6,Business Data Collection - BDC
2,2,BDCQ.SF1AA2CA,2016.12,29.289111,NaN,F,Dollars,6,Business Data Collection - BDC
3,3,BDCQ.SF1AA2CA,2017.03,28.074028,NaN,F,Dollars,6,Business Data Collection - BDC
4,4,BDCQ.SF1AA2CA,2017.06,34.269444,NaN,F,Dollars,6,Business Data Collection - BDC
5,5,BDCQ.SF1AA2CA,2017.09,35.623222,NaN,F,Dollars,6,Business Data Collection - BDC
6,6,BDCQ.SF1AA2CA,2017.12,35.856111,NaN,F,Dollars,6,Business Data Collection - BDC
7,7,BDCQ.SF1AA2CA,2018.03,39.222417,NaN,F,Dollars,6,Business Data Collection - BDC
8,8,BDCQ.SF1AA2CA,2018.06,41.334861,NaN,F,Dollars,6,Business Data Collection - BDC
9,9,BDCQ.SF1AA2CA,2018.09,41.602167,NaN,F,Dollars,6,Business Data Collection - BDC
10,10,BDCQ.SF1AA2CA,2018.12,43.625194,NaN,F,Dollars,6,Business Data Collection - BDC
11,11,BDCQ.SF1AA2CA,2019.03,38.715250,NaN,F,Dollars,6,Business Data Collection - BDC
12,12,BDCQ.SF1AA2CA,2019.06,42.142861,NaN,F,Dollars,6,Business Data Collection - BDC
13,13,BDCQ.SF1AA2CA,2019.09,38.375389,NaN,F,Dollars,6,Business Data Collection - BDC
14,14,BDCQ.SF1AA2CA,2019.12,38.082917,NaN,F,Dollars,6,Business Data Collection - BDC
15,15,BDCQ.SF1AA2CA,2020.03,29.806028,NaN,F,Dollars,6,Business Data Collection - BDC
16,16,BDCQ.SF1AA2CA,2020.06,31.429028,NaN,F,Dollars,6,Business Data Collection - BDC
17,17,BDCQ.SF1AA2CA,2020.09,40.002806,NaN,F,Dollars,6,Business Data Collection - BDC
18,18,BDCQ.SF1AA2CA,2020.12,41.388306,NaN,F,Dollars,6,Business Data Collection - BDC
19,19,BDCQ.SF1AA2CA,2021.03,38.632833,NaN,F,Dollars,6,Business Data Collection - BDC
20,20,BDCQ.SF1AA2CA,2021.06,50.742500,NaN,F,Dollars,6,Business Data Collection - BDC
21,21,BDCQ.SF1AA2CA,2021.09,47.502028,NaN,F,Dollars,6,Business Data Collection - BDC
22,22,BDCQ.SF1AA2CA,2021.12,43.318861,NaN,F,Dollars,6,Business Data Collection - BDC

In [157]:
df['Magnitude'] = df['Magnitude']/df['Magnitude'].max()
df

,Unnamed: 0,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject
0,0,BDCQ.SF1AA2CA,2016.06,0.611139,NaN,F,Dollars,1.0,Business Data Collection - BDC
1,1,BDCQ.SF1AA2CA,2016.09,0.586225,NaN,F,Dollars,1.0,Business Data Collection - BDC
2,2,BDCQ.SF1AA2CA,2016.12,0.577211,NaN,F,Dollars,1.0,Business Data Collection - BDC
3,3,BDCQ.SF1AA2CA,2017.03,0.553265,NaN,F,Dollars,1.0,Business Data Collection - BDC
4,4,BDCQ.SF1AA2CA,2017.06,0.675360,NaN,F,Dollars,1.0,Business Data Collection - BDC
5,5,BDCQ.SF1AA2CA,2017.09,0.702039,NaN,F,Dollars,1.0,Business Data Collection - BDC
6,6,BDCQ.SF1AA2CA,2017.12,0.706629,NaN,F,Dollars,1.0,Business Data Collection - BDC
7,7,BDCQ.SF1AA2CA,2018.03,0.772970,NaN,F,Dollars,1.0,Business Data Collection - BDC
8,8,BDCQ.SF1AA2CA,2018.06,0.814600,NaN,F,Dollars,1.0,Business Data Collection - BDC
9,9,BDCQ.SF1AA2CA,2018.09,0.819868,NaN,F,Dollars,1.0,Business Data Collection - BDC
10,10,BDCQ.SF1AA2CA,2018.12,0.859737,NaN,F,Dollars,1.0,Business Data Collection - BDC
11,11,BDCQ.SF1AA2CA,2019.03,0.762975,NaN,F,Dollars,1.0,Business Data Collection - BDC
12,12,BDCQ.SF1AA2CA,2019.06,0.830524,NaN,F,Dollars,1.0,Business Data Collection - BDC
13,13,BDCQ.SF1AA2CA,2019.09,0.756277,NaN,F,Dollars,1.0,Business Data Collection - BDC
14,14,BDCQ.SF1AA2CA,2019.12,0.750513,NaN,F,Dollars,1.0,Business Data Collection - BDC
15,15,BDCQ.SF1AA2CA,2020.03,0.587398,NaN,F,Dollars,1.0,Business Data Collection - BDC
16,16,BDCQ.SF1AA2CA,2020.06,0.619383,NaN,F,Dollars,1.0,Business Data Collection - BDC
17,17,BDCQ.SF1AA2CA,2020.09,0.788349,NaN,F,Dollars,1.0,Business Data Collection - BDC
18,18,BDCQ.SF1AA2CA,2020.12,0.815654,NaN,F,Dollars,1.0,Business Data Collection - BDC
19,19,BDCQ.SF1AA2CA,2021.03,0.761351,NaN,F,Dollars,1.0,Business Data Collection - BDC
20,20,BDCQ.SF1AA2CA,2021.06,1.000000,NaN,F,Dollars,1.0,Business Data Collection - BDC
21,21,BDCQ.SF1AA2CA,2021.09,0.936139,NaN,F,Dollars,1.0,Business Data Collection - BDC
22,22,BDCQ.SF1AA2CA,2021.12,0.853700,NaN,F,Dollars,1.0,Business Data Collection - BDC

In [164]:
df = pd.read_csv('xx.csv', header = None, usecols = [1,2,3])
df.columns = ['a','b','c']
df

                   a        b           c
0   Series_reference   Period  Data_value
1      BDCQ.SF1AA2CA  2016.06    1116.386
2      BDCQ.SF1AA2CA  2016.09    1070.874
3      BDCQ.SF1AA2CA  2016.12    1054.408
4      BDCQ.SF1AA2CA  2017.03    1010.665
5      BDCQ.SF1AA2CA  2017.06      1233.7
6      BDCQ.SF1AA2CA  2017.09    1282.436
7      BDCQ.SF1AA2CA  2017.12     1290.82
8      BDCQ.SF1AA2CA  2018.03    1412.007
9      BDCQ.SF1AA2CA  2018.06    1488.055
10     BDCQ.SF1AA2CA  2018.09    1497.678
11     BDCQ.SF1AA2CA  2018.12    1570.507
12     BDCQ.SF1AA2CA  2019.03    1393.749
13     BDCQ.SF1AA2CA  2019.06    1517.143
14     BDCQ.SF1AA2CA  2019.09    1381.514
15     BDCQ.SF1AA2CA  2019.12    1370.985
16     BDCQ.SF1AA2CA  2020.03    1073.017
17     BDCQ.SF1AA2CA  2020.06    1131.445
18     BDCQ.SF1AA2CA  2020.09    1440.101
19     BDCQ.SF1AA2CA  2020.12    1489.979
20     BDCQ.SF1AA2CA  2021.03    1390.782
21     BDCQ.SF1AA2CA  2021.06     1826.73
22     BDCQ.SF1AA2CA  2021.09    1710.073
23     BDCQ.SF1AA2CA  2021.12    1559.479